# Build files
.gradle/
gradle.properties
build/

# Ignore IntelliJ files
.idea/
out/
*.iml
*.eml

*.pyc

# vi temp files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# tests logging output
tempto_logs

# python packaging artifacts
dist/
