# Build files
.gradle/
build/

# Ignore IntelliJ files
.idea/
out/
*.iml
*.eml

*.pyc

# vi temp files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# tests logging output
testlogs

# python packaging artifacts
dist/
product_test.egg-info/