# Build files
.gradle/
gradle.properties
build/

# Ignore IntelliJ files
.idea/
out/
*.iml
*.eml
*.ipr
*.iws

*.pyc

# vi temp files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# tests logging output
tempto_logs

# test reports
test-reports/

# python packaging artifacts
dist/

# etc
*.log
*.orig
